{% extends 'base.html' %}
{% block title %}{{ topic.name }}{% endblock %}
{% block beforehead %}
{% endblock %}
{% block content %}
    <div class=" layui-fluid layui-container">
    <fieldset class="layui-elem-field layui-field-title layui-main" style="margin-top: 20px;">
        <legend>{{ topic.name }}</legend>
    </fieldset>
    <div class="layui-row">
        <div class="layui-col-sm9" style="background-color: #F2F2F2;">
            <div class="site-content">
                    {{ topic.content|safe }}
            </div>
        </div>
    <div class="layui-col-sm3">
            <div class="grid-demo" style="margin-left: 20px;">
                {% if writer.image %}
                    <a href="/person/{{ writer.id }}"><img src="data:;base64,{{ base64.b64encode(writer.image).decode('utf-8') }}" width="70" height="70" style="border-radius: 50%;"></a>
                {% else %}
                    <i class="layui-icon" style="font-size: 80px;">&#xe612;</i>
                {% endif %}
                <h2 class="layui-container">{{ writer.name }}</h2>
            {% if user %}
            <a href="/person/follow/{{ writer.id }}" class="layui-btn" style="margin-left: 10px;">关注</a>
            {% endif %}
            </div>
        </div>
    </div>
        {% if anwsers %}
        <fieldset class="layui-elem-field layui-field-title site-title">
            <legend><a name="nonmodules">最近答案</a></legend>
        </fieldset>
        <div class="site-text">
        <blockquote class="layui-elem-quote layui-quote-nm">
             {% if anwsers.user_image %}
                 <a href="/person/{{ anwsers.user_id }}"><img src="data:;base64,{{ base64.b64encode(anwsers.user_image).decode('utf-8') }}" width="32" height="32" style="border-radius: 50%;"></a>
             {% else %}
                  <i class="layui-icon" style="font-size: 50px;">&#xe612;</i>
             {% endif %}
                <span style="font-size: 20px;">{{ anwsers.user_name }}{% if anwsers.user_id == writer.id %}(提问者){% endif %}</span>
                <p><span class="layui-container">{{ anwsers.content|safe }}</span>
            <p><span>发表于:{{ anwsers.created_at }}</span>
            </blockquote>
        </div>
            <div class="layui-btn-group ">
        {% if pagination_ans.has_prev %}
             <button class="layui-btn layui-btn-primary">
                    <a href="{{ url_for('.topic_detail',id = topic.id,page_ans = pagination_ans.page - 1) }}"><< 上一回答</a>
             </button>
            {% endif %}
        {% if pagination_ans.has_next %}
            <button class="layui-btn layui-btn-primary">
                    <a href="{{ url_for('.topic_detail',id = topic.id,page_ans = pagination_ans.page + 1) }}">下一回答 >></a>
            </button>
        {% endif %}
            </div>
     <div class="layui-collapse" style="margin-top: 10px;">
        <div class="layui-colla-item">
            {% if comment %}
            <h2 class="layui-colla-title">该回答的评论</h2>
                {% for c in comment %}
                    <div class="layui-colla-content layui-show">
                        <span>{{ c.user_name }}{% if anwsers.user_id == c.user_id %}(回答者){% endif %}:</span>{{ c.content|safe }}
                        <p><span style="">发表于:{{ c.created_at }}</span>
                    </div>
                {% endfor %}
                {% else %}
                <h2 class="layui-colla-title">该回答还没有评论</h2>
                {% endif %}
        <div class="layui-colla-content layui-show">
            <form class="layui-form" action="/comment/create" method="POST">
             <input type="text" name="comment"  placeholder="快来评论两句..." class="layui-input" autocomplete="off">
             <input name="answer_id" value="{{ anwsers.id }}" style="display: none;" autocomplete="off">
             <input name="topic_id" value="{{ topic.id }}" style="display: none;" autocomplete="off">
             <button class="layui-btn" lay-submit lay-filter="formDemo" style="margin-top: 5px;">评论</button>
            </form>
        </div>
        </div>
    </div>
    {% else %}
    <fieldset class="layui-elem-field layui-field-title site-title">
            <legend><a name="nonmodules">暂无回答</a></legend>
        </fieldset>
    {% endif %}
    <form class="layui-form layui-form-pane" style="margin-top: 15px;" action="/topic/{{ topic.id }}" method="POST">
        <div class="layui-form-item layui-form-text">
            <script src="http://cdn.bootcss.com/wangeditor/2.1.20/js/lib/jquery-2.2.1.js"></script>
            <div class="layui-input-block" style="">
                <div id="txtdiv" style="border:1px solid gray;min-height:240px">
                    <p>添加回答</p>
                </div>
                <textarea type="text" id="show_box" name="content" style="width:100%; height:200px;display: none;"></textarea>
                <script>
                $(function(){
                        //初始化编辑器
                         editor = new wangEditor("txtdiv");

                         editor.create();

                         //内容修改事件，此处做的是实时展示实际效果
                         editor.onchange = function(){
                                 //获取editor的html值
                                 var html = editor.$txt.html();
                                 $("#show_box").val(html)
                             }
                   })
         </script>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" id="btn-submit" lay-submit lay-filter="formDemoPane">回答</button>
        </div>
    </form>
    </div>
<script src="http://cdn.bootcss.com/wangeditor/2.1.20/js/wangEditor.js"></script>
       <link href="http://cdn.bootcss.com/wangeditor/2.1.20/css/wangEditor.css" rel="stylesheet">
{% endblock %}