<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>社区后台管理</title>
  <link rel="stylesheet" href="../../static/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">E问E答</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav">
      <li class="layui-nav-item nav-base" style="width:10%; float:right;">
        <a href="" style="font-size: 18px;">
            {% if user.image %}
                <img src="data:;base64,{{ base64.b64encode(user.image).decode('utf-8') }}" width="32" height="32" style="border-radius: 50%;">
            {% else %}
                <i class="layui-icon" style="font-size: 18px;">&#xe612;</i>
            {% endif %}{{ user.name }}</a>
        <dl class="layui-nav-child">
            {% if user.admin == 1 %}
                <dd><a href="/admin" style="font-size: 18px;">后台管理</a></dd>
            {% endif %}
                <dd><a href="/myblogs" style="font-size: 18px;">我的提问</a></dd>
                <dd><a href="/mycomments" style="font-size: 18px;">我的回答</a></dd>
                <dd><a href="/person/{{ user.id }}" style="font-size: 18px;">个人首页</a></dd>
                <dd><a href="/signout" style="font-size: 18px;">退出登录</a></dd>
        </dl>
    </li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">用户管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="javascript:;">列表三</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">职位管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
            <a href="">话题管理</a>
            <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">标签管理</a></li>
      </ul>
    </div>
  </div>

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">内容主体区域</div>
  </div>

  <div class="layui-footer">
    © 3WL
  </div>
</div>
<script src="../../static/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;

});
</script>
</body>
</html>